*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(rgba(127, 99, 136, 0.7),rgba(51, 36, 51, 0.7)),url(cover1.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 25%;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: pink;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.text-box{
    width: 100%;
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
    color: white;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.button {
    display: inline-block;
    text-decoration: none;
    color:rgba(127, 99, 136, 0.7);
    border: 1px solid white;
    padding: 12px 34px;
    font-size:25px;
    background: transparent;
    cursor: pointer;
}
.button:hover{
    border: 1px solid white;
    background: white;
    transition: 1s;
}
.Review{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
h1{
    font-size: 36px;
    font-weight: 600;
    color: rgba(127, 99, 136, 0.7);
}
p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.rv{
    color: white;
    flex-basis: 31%;
    background: rgba(127, 99, 136, 0.7);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.rv p{
    color: white
}
.rv img{
    width: 50%;
}